.quiz {
  min-width: 350px;
  display: grid;
  row-gap: 1.2rem;
  &__title {
    display: flex;
    column-gap: 1rem;
    align-items: end;
    &__time {
      margin-bottom: 5px;
    }
    & h1 {
      padding: 0;
      margin: 0;
    }
  }
  &__count {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    gap: 3px;
    & span {
      width: 55px;
      height: 9px;
      border-radius: 4px;
    }
  }
  &__checkboxes {
    display: grid;
    row-gap: 0.5rem;
    font-weight: 500;
    & label {
      display: flex;
      align-items: center;
    }
    & input {
      margin-right: 15px;
    }
    & button {
      margin-top: 20px;
    }
    &__text label {
      display: grid;
      & input {
        width: 600px;
      }
      & textarea {
        resize: none;
        width: min(100%, 700px);
        height: 200px;
        overflow: auto;
      }
    }
  }
  & p {
    font-size: 1.2rem;
  }
}

.quiz__form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  & label {
    display: grid;
    & input {
      height: 40px;
      padding: 3px 10px;
    }
  }
  &__variants {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    column-gap: 30px;
    align-items: end;
  }
  &__settings {
    & li label {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
  }
}

.quiz__list {
  height: 80vh;
  overflow-y: scroll;
  &__answer {
    padding-left: 20px;
    display: flex;

    column-gap: 1rem;
    align-items: center;
  }
}
